* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  color: #1f2937;
  line-height: 1.6;
}

/* Header et Navbar */
header {
  background-color: #1e3a8a;
  color: white;
  padding-bottom: 20px;
}

nav {
  background-color: #111;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav h1 {
  font-size: 24px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* Section principale */
section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Hero */
.hero {
  text-align: center;
  padding: 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Compétences */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-logo {
  width: 60px;
  transition: transform 0.3s ease;
}
.skill-logo:hover {
  transform: scale(1.2);
}

/* Projets */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  background-color: #ffffff;
  border-left: 5px solid #1e3a8a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.project-card a {
  color: #1e3a8a;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

/* Contact */
.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-links a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #1e3a8a;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-links a:hover {
  background-color: #315fdb;
  color: black;
}

.contact-links a img {
  width: 18px;
}

/* Footer */
footer {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Responsive : mobile */
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: #111;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 20px;
    border-radius: 8px;
  }

  nav ul.active {
    display: flex;
  }
}
